#showLeft.btn {
    margin-top: 15px;
}

#cbp-spmenu-s1 i {
    padding-right: 10px;
    padding-bottom: 5px;
}

#cbp-spmenu-s1 ul {
    list-style: none;
}

.btn i {
    padding-right: 5px;
}

#slide1 {
    background: #fff;
}

#slide2 {
    background: #fff;
}

#slide3 {
    background: #fff;
}